<!DOCTYPE html>
<html lang="en">
<head>
  <style>
  	td.highlight {
    	background-color: whitesmoke !important;
	}
	div.dataTables_wrapper {
        margin: 0 auto;
    }
  </style>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/css/bulma.css">
  <link rel="stylesheet" href="static/css/datatables.net-dt/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="static/css/datatables.net-buttons-dt/css/buttons.dataTables.min.css">
  <link rel="stylesheet" href="static/css/datatables.net-dt/css/fixedColumns.css">
  <script src="static/js/datatables.net/js/jquery-3.3.1.js"></script>
  <script src="static/js/jquery/dist/jquery.min.js"></script>
  <script src="static/js/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="static/js/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
  <script src="static/js/datatables.net-buttons/js/buttons.html5.min.js"></script>
   <script src="static/js/datatables.net-buttons/js/buttons.print.min.js"></script>
  <script src="static/js/datatables.net-buttons/js/pdfmake.min.js"></script>
  <script src="static/js/datatables.net-buttons/js/vfs_fonts.js"></script>
  <script src="static/js/datatables.net-buttons/js/buttons.flash.min.js"></script>
  <script src="static/js/datatables.net/js/fixedColumns.js"></script>
  <script src="static/js/datatables.net/js/ellipses.js"></script>
  <script>
  	
$(document).ready( function () {
      //sutun sutun aramak icin
      $('#albums thead th').each( function () { 
          var title = $(this).text();
          $(this).html( title + '</br><input type="text" class="input is-rounded is-small"   placeholder="Search '+title+'" style="width:80px"/>' );
      } );
      var table = $('#albums').DataTable(
        {
          
          dom: 'Bfrtip',
          //sayfada gosterilen satir sayisini ayarlamak
          lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
          ],
          //indirme butonlari
          buttons: {                           
            buttons: [
              {extend:'pageLength', text:'Change Length' },
              {extend:'copy'},
              {extend:'csv'},
              {extend:'pdfHtml5'}
            ]
          },

          //sutunlari saga sola kaydirirken sabitleyebilmek icin
          fixedColumns: {leftColumns: 1}, 
          //sayfa numaralarinin goruntusu     
          'sPaginationType': 'ellipses',
          // yatay kaydirmayi aktiflestirmek
          "scrollX": true
        } );
      //tiklanilan satirin koyu renk olmasi
      $('#albums tbody')
          .on( 'mouseenter', 'td', function () {
              var colIdx = table.cell(this).index().column;
   
              $( table.cells().nodes() ).removeClass( 'highlight' );
              $( table.column( colIdx ).nodes() ).addClass( 'highlight' );
          } );
      //tiklanilan satirin secilmesi
      $('#albums tbody').on( 'click', 'tr', function () {
          $(this).toggleClass('selected');
      } );
      //secilen satirlarin gosterilmesi
      $("#btn-show-selected").on('click', function(){
          $.fn.dataTable.ext.search.push(
              function (settings, data, dataIndex){             
                  return ($(table.row(dataIndex).node()).hasClass('selected')) ? true : false;
              }
          );
        
          table.draw();
        
          $.fn.dataTable.ext.search.pop();
      });
      //tum satirlarin gosterilmesi
      $("#btn-show-all").on('click', function(){
          table.draw();
      });
    
      //sutun sutun arama kisminin devami 
      table.columns().every( function () {
            var that = this;
            $( 'input', this.header() ).on( 'keyup change', function () {
                if ( that.search() !== this.value ) {
                    that
                        .search( this.value )
                        .draw();
                }
            } );

        } );
    

    } );
 
  </script>
  <title>---Hizmete Özel--- 


    
  Flask Configurations Database</title>
</head>
<body>
	<section class="hero is-primary">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">Configurations of Albums</h1>
        	</br>
            <h2 class="subtitle"><a href="{{ url_for('.new_configuration') }}"> Click Here for New Configuration </a></h2>
            <h2 class="subtitle"><a href="{{ url_for('.index') }}"> Click Here for Table </a></h2>
          </div>
        </div>
      </section>
	</br>
	<div>
    <div class="row text-right" style="text-align: center;">
    <button class="btn btn-primary button is-primary" id="btn-show-selected"> Show only Selected</button>
    <button class="btn btn-primary button is-primary" id="btn-show-all"> Show All</button>    
    </div>
		<!--<button id="tst">click</button>-->
		<table id="albums" class="row-border hover order-column table is-bordered display nowrap" style="width:100%">
	        <thead>
	            <th style="text-align:center">Artist</th>
              <th style="text-align:center">Title</th>
              <th style="text-align:center">Release Date</th>
              <th style="text-align:center">Publisher</th>
              <th style="text-align:center">Album Name</th>
              <th style="text-align:center">Edit</th>
	       	</thead>
	        <tbody> 
	        {% for row in table %}
	            <tr>
                 <td>{{row["artist"]}}</td>
	               <td>{{row["title"]}}</td>
	               <td>{{row["release_date"]}}</td>
	               <td>{{row["publisher"]}}</td>
	               <td>{{row["album_name"]}}</td>
	               <td><a href='/item/configuration/{{row["id"]}}'>Edit</a></td>
	            </tr>
	        {% endfor %}
	        </tbody>
          <tfoot>
              <th style="text-align:center">Artist</th>
              <th style="text-align:center">Title</th>
              <th style="text-align:center">Release Date</th>
              <th style="text-align:center">Publisher</th>
              <th style="text-align:center">Album Name</th>
              <th style="text-align:center">Edit</th>
          </tfoot>
      	</table>
    </div>
    
</body>